{% extends 'base.html' %}
{% load tags %}
{% block title %}<title>News All</title> {% endblock %}

{% block content %}
    <div class="blog-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">
                        {% if tag %}
                            <h1>News tagged with : "{{ tag.name }}"</h1>
                        {% endif %}
                        {% for news in news_all %}
                        <div class="single-blog-post featured-post mb-30">
                            <div class="post-thumb">
                                <a href="{{ news.get_absolute_url }}"><img src="{{ news.image.url }}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-catagory">{{ news.category }}</a>
                                <a href="{{ news.get_absolute_url }}" class="post-title">
                                    <h6>{{ news.body|markdown|truncatewords_html:30 }}</h6>
                                </a>
                                Tags:{% for tag in news.tags.all %}
                                <a href="{% url 'news-bt-tag' tag.slug %}">{{ tag.name }}</a>
                                    {% empty %}
                                    <span>No tags provided</span>
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% include 'news/pagination.html' with page_number=news_all %}
                </div>
                <div class="col-12 col-lg-4">
                    <div class="blog-sidebar-area">
                        <div class="latest-posts-widget mb-50">
                            {% sidebar %}
                        </div>
                        {% include 'news/sidebar_second.html' %}
                        <!-- Latest Comments Widget -->
                        {% latest_com %}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}